* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

#header {
    background: linear-gradient(90deg, #72072D 0%, #FF005C 100%);
}
.menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;

}
.menuIcon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.headLog {
    width: auto;
    display: flex;
    align-items: center;

}

.text2{
    color: #72072D;
    margin: 20px 0 0 0;
    width: 90%;

}
.rock{
    width: 90%;
    height: 1px;
    background: #72072D ;
    margin: 15px 0;
}

.headLogo {
     font-family: 'Inter', sans-serif;
        font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0 15px 0 0;
}

.headSearch {
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    width: 718px;
    height: 43px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 9px;
}

#hero{
    background: url("../img/Rectangle 68.png");
}
.hero{
    display: flex;
}
.heroTitle{
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #72072D;
    margin: 50px 0 50px 120px;
}
.heroCatalog{
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #FF005C;
    margin: 50px 0 50px 150px;
}
.fixed{
    width: 44px;
    height: 44px;
    background: linear-gradient(270.73deg, #FF005C 0.7%, #72072D 89.36%);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.catalogLink{
    position: absolute;
    margin-top: -50px;
    margin-left: 40px;
}
.catalogTitle{

    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.bigCatalog{
    display: flex;
    justify-content: space-between;
}
.catTitle{
    font-size: 40px;
    color: #72072D;
    margin: 50px 0 40px 0;
}
.cardsIcon{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    margin: 30px;
}
.catalogBtn{
    font-size: 18px;
    color: #D118A8;
    width: 227px;
    height: 48px;
    border: 1px solid #D118A8;
    border-radius: 40px;
    background: transparent;
}
.CatBtn{
     display: flex;
    justify-content: center;
}
#footer{
    background: linear-gradient(269.84deg, #FF005C -10.98%, rgba(0, 0, 0, 0.88) 100%);
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 30px;
    margin: 30px 0 0 0 ;
 }

.footerLine{
    width: 90%;
    height: 1px;
    background: white;
    margin: 20px 0;
}
.footerDesc{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
}
.footerBlock{
    width: 100%;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerDescription{
    width: 300px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}
.footerCatalog{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerАddress{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AllCat{
    display: flex;
    align-items: center;
    justify-content: start;
}
.allTitle{
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.allCatalog{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.allArrowWomen{
    transform: rotate(90deg);
}
.allArrowMan{
    transform: rotate(90deg);
}.allArrowShose{
    transform: rotate(90deg);
}.allArrowCharet{
    transform: rotate(90deg);
}
.product{
    color: #72072D;
    margin: 30px 0 14px 0;

}
.plus{
    margin-left: 1070px;
    padding:  0 0 90px 0;
    height: 20px;



}
.text-title{
    color: #000000;
    margin-top: 25px;

}
.rock2{
    width: 90%;
    height: 1px;
    background: #72072D ;
    margin-top: -100px;
}

a{
    color: black;
    text-decoration: none;
}
.colortext{
    margin-left: 550px;
    margin-top: 15px;
}
.map{
    margin: 15px 0 0 600px;
}


